.admin-content{/*width: auto;*/background-color: #f1f2f7;padding-top: 51px;}
header{margin-bottom: 0 !important;z-index:999;position:fixed !important;top:0;left:0;width:100%;}
/*header{margin-bottom:0 !important;position:fixed;top: 0;left: 0}*/
header .nickname{color:#f8675e}
header span.showMenu{display: none;}
/*body>.header-top{height: 50px;position:relative;}*/
/*
 404.html css
*/
.page-404{background: #fff;border: none;width: 200px;margin: 0 auto}
.sideMenu{padding: 10px 0;margin: 0px;background: #2a3542;height: 100%; }
.sideMenu>div.fixed{background: #2a3542;height:100%;}
.sideMenu img.logo{display: block;margin:10px auto;max-width: 180px; width: 80%;}
.sideMenu h3{height: 32px;line-height: 32px;color: #aeb2b7;cursor: pointer;padding: 0 0 0 10px;margin: 10px 0 0 0;border-top-left-radius: 3px;border-top-right-radius: 3px;font-weight: 400;width: 100% }
.sideMenu h3 em{float: right;display: block;width: 40px;height: 32px;background: url(../i/icoAdd.png) 16px 12px no-repeat;cursor: pointer}
.sideMenu h3.on em{background-position: 16px -57px}
.sideMenu h3.on{color: #ff6c60;background: #35404d}
.sideMenu h3 a{color: #aeb2b7 }
.sideMenu ul{line-height: 24px;color: #999;display: none;/* 默认都隐藏 */ ;background: #35404d;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;padding: 0px;margin: 0px }
.sideMenu>div.fixed>ul>li:last-child{padding-bottom: 10px}
.sideMenu li{text-indent: 10px;width: 100%}
.sideMenu li a{color: #aeb2b7}
.sideMenu li a:hover,.sideMenu li a.active{color: #f8675e}
.sideMenu h3[class*=am-icon-]:before{min-width: 16px;text-align: right;}
@media only screen and (max-width: 640px){
    .sideMenu{display: none;}
    .sideMenu.active{display: block}
    .sideMenu img.logo{display: none}
    header span.showMenu{display: block;position: absolute;right: 20px;top: 0;display: block;}
}
@media only screen and (min-width:641px){
    .sideMenu{
        position: fixed;
        top: 51px;
        left: 0;
        z-index: 999;
    }
}

.admin-content .content > div[class*=am-u-]{margin-top:20px;}

span.badge-inline{background-color: transparent;color:#444;}
.am-panel-black>.am-panel-hd{background-color: #2a3542;color: white;}


p{padding:0;margin:0;}
table{font-size: 14px;line-height: 25px;text-align: center;}
table th{text-align: center;}
table tr.hiddenck{display:none;}

form{font-size: 14px;line-height: 1;}
form label{font-weight:100;}